body{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    color: rgb(219, 19, 59);
    font-family: 'Poppins';
}

.singlepart{
    padding: 30px;
}

.singlepart input[type=text]{
    padding: 10px;
}

.singlepart legend{
    color: black;
    filter: opacity(0.5);
}

.sp1 {
    
    display: absolute;
    max-width: 1600px;
    min-width: 500px;
    
}

.singlepart label{
    font-size: larger;
}

.singlepart input[type=text], input[type=email], input[type=password]{
    position: relative;
    padding: 10px;
    left:10px;
    border: none;
    font-size: larger;
    background-color: aliceblue;
    border-bottom: 5px solid rgb(219, 19, 59);;
    transition: 0.5s ease;
}

.singlepart input[type=text]:hover{
    font-size: large;
    border: none;
    background-color: aliceblue;
    border-bottom: 5px solid rgb(219, 19, 59);;
}

.phN{
    padding: 10px;

}
.title{
    font-weight: 700;
}

.b1{
    padding: 40px;
}

input[type=submit]{
    padding: 20px;
    background-color: rgb(219, 19, 59);;
    color: aliceblue;
    font-size: larger;
    border: none;
    border-radius: 10px;    
}

.tnc{
    max-width: 1200px;
}

.files{
    background-color: rgb(255, 240, 243);
    padding: 40px;
    border-radius: 50px;
}